<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drinks</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<style>
    body {
        background-color: hsl(242, 52%, 34%);
        color: hsl(242, 52%, 34%);
    }

    .btn-custom {
        background-color: hsl(140, 74%, 60%);
        color: hsl(242, 52%, 34%);
        box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.2);
        border: none
    }
</style>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">MoSede</a>
        <form class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ir</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Carrinho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Usuário</a>
            </li>
        </ul>
    </nav>
    <div class="container my-5">
        <h2 class="mb-4">Drinks</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://img.itdg.com.br/images/recipes/000/128/825/319875/319875_original.jpg"
                        alt="Drink 1" style="object-fit: cover; width: 252px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.0.drink_name }}</h5>
                        <p class="card-text">R${{ cards.0.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://img.itdg.com.br/tdg/images/recipes/000/033/093/120308/120308_original.jpg?w=1200"
                        alt="Drink 2" style="object-fit: cover; width: 252px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.1.drink_name }}</h5>
                        <p class="card-text">R${{ cards.1.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://hips.hearstapps.com/hmg-prod/images/martini-recipe-1657532229.jpg?crop=1.00xw:0.501xh;0,0.159xh&resize=1200:*"
                        alt="Drink 3" style="object-fit: cover; width: 252px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.2.drink_name }}</h5>
                        <p class="card-text">R${{ cards.2.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://www.receiteria.com.br/wp-content/uploads/receita-de-negroni-730x449.jpg"
                        alt="Drink 4" style="object-fit: cover; width: 253px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.3.drink_name }}</h5>
                        <p class="card-text">R${{ cards.3.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2022/09/23/1631063638-receita-pina-colada.jpg"
                            alt="Drink 5" style="object-fit: cover; width: 245px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ cards.4.drink_name }}</h5>
                            <p class="card-text">R${{ cards.4.price }}</p>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://www.receitas-sem-fronteiras.com/cache/media/309207-1-jpg.jpeg/ogresize.jpg"
                            alt="Drink 6" style="object-fit: cover; width: 245px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ cards.5.drink_name }}</h5>
                            <p class="card-text">R${{ cards.5.price }}</p>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://www.thespruceeats.com/thmb/BaTQiJBdsmkbQvBZO6HaoeBoNgE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/original-irish-coffee-recipe-759311-Hero-5b759d4b46e0fb005089915e.jpg"
                            alt="Drink 7" style="object-fit: cover; width: 245px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ cards.6.drink_name }}</h5>
                            <p class="card-text">R${{ cards.6.price }}</p>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://images.absolutdrinks.com/drink-images/Raw/Absolut/01723f0d-1c38-4955-b75d-c9b822a20c7a.jpg?imwidth=500"
                            alt="Drink 8" style="object-fit: cover; width: 245px; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ cards.7.drink_name }}</h5>
                            <p class="card-text">R${{ cards.7.price }}</p>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>