<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>MoSede</title>
</head>

<body>

    <body>
        <div class="d-flex justify-content-center align-items-center"
            style="height: 100vh; background-color: hsl(242, 52%, 34%);">
            <section>
                <!-- Jumbotron -->
                <div class="px-4 py-5 px-md-5 text-center text-lg-start">
                    <div class="container">
                        <div class="row gx-lg-5 align-items-center">
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <h1 class="my-5 display-3 fw-bold ls-tight" style="color: hsl(0, 0%, 100%)">
                                    MoSede
                                </h1>
                                <p style="color: hsl(0, 0%, 100%)">
                                    Faça parte da nossa comunidade e</br>
                                    aproveite as melhores ofertas em bebidas
                                </p>
                                <button type="submit" class="btn btn-primary btn-block mb-4"
                                    style="background-color:hsl(0, 0%, 100%) ; color: hsl(242, 52%, 34%);">
                                    <a href="{% url 'cadastro' %}" style="color: inherit; text-decoration: none;">
                                        Sign up
                                    </a>
                                </button>
                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <div class="card">
                                    <div class="card-body py-5 px-md-5">
                                        <form method="post" action="{% url 'index' %}">
                                            {% csrf_token %}
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row">
                                                <div class="col-12 text-center">
                                                    Curta a festa sem sair de casa, use MoSede
                                                </div>
                                            </div>
                                            </br>
                                            <!-- Email input -->
                                            <div class="form-outline mb-4">
                                                <input type="email" name="email" id="form3Example3" class="form-control"
                                                    placeholder="Seu email" />
                                            </div>
                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" name="password" id="form3Example4"
                                                    class="form-control" placeholder="Sua senha" />
                                            </div>
                                            <!-- Submit button -->
                                            <button type="button" class="btn btn-primary btn-block mb-4"
                                                style="background-color: hsl(242, 52%, 34%)" onclick="submitForm()">
                                                Entrar
                                            </button>
                                        </form>

                                    </div>

                                    <script>
                                        function submitForm() {
                                            document.forms[0].submit();
                                        }
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Jumbotron -->
            </section>
        </div>
        <!-- Section: Design Block -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>