<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vodkas</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<style>
    body {
        background-color: hsl(242, 52%, 34%);
        color: hsl(242, 52%, 34%);
    }

    .btn-custom {
        background-color: hsl(140, 74%, 60%);
        color: hsl(242, 52%, 34%);
        box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.2);
        border: none
    }
</style>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'homepage' %}">MoSede</a>
        <a href="{% url 'topsellers' %}" style="color:black; " >☆ Top Sellers ☆</a>
        <form class="form-inline my-2 my-lg-0 mx-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ir</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Carrinho</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Usuário</a>
            </li>
        </ul>
    </nav>
    <div class="container my-5">
        <h2 class="mb-4">Vodkas</h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://www.amburana.com/media/catalog/product/cache/1/image/994x/9df78eab33525d08d6e5fb8d27136e95/a/b/absoluit.jpg"
                        alt="Vodka 1" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.0.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.0.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://superadega.vteximg.com.br/arquivos/ids/170951-1000-1000/Vodka-Smirnoff-Red-1L.png?v=637763784110700000"
                        alt="Vodka 2" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.1.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.1.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://images.tcdn.com.br/img/img_prod/686651/vodka_skyy_980ml_21077799_1_20190308181632.jpg"
                        alt="Vodka 3" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.2.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.2.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://www.imigrantesbebidas.com.br/bebida/images/products/full/88966-vodka-orloff-1-75l.jpg"
                        alt="Vodka 4" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.3.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.3.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://gbarbosa.vtexassets.com/arquivos/ids/177764/6287e9205c8817f4f114e84f.png?v=637886710632530000"
                        alt="Vodka 5" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.4.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.4.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top"
                        src="https://diageo.vtexassets.com/arquivos/ids/159720/VODKA-CIROC---3L_5010103932851_724707--sem-selo-.jpg?v=637565048888930000"
                        alt="Vodka 6" style="object-fit: cover; width: 250px; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ cards.5.vodka_name }}</h5>
                        <p class="card-text">R${{ cards.5.price }}</p>
                        <a href="#" class="btn btn-outline-dark btn-sm btn-custom">+</a>
                    </div>
                </div>
            </div>
            
        </div>
</body>

</html>